.surroundings,
.levels {
  position: absolute;
  top: 50%;
  left: 50%;
}

.surroundings {
  width: 192vmin;
  /* double of mall map */
  height: 128vmin;
  margin: -64vmin 0 0 -96vmin;
  pointer-events: none;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.surroundings__map {
  opacity: 0.3;
  max-width: 100%;
  display: block;
}

.surroundings--hidden {
  opacity: 0;
}

.levels {
  width: 96vmin;
  height: 64vmin;
  margin: -32vmin 0 0 -48vmin;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.surroundings,
.levels {
  -webkit-transform: rotateX(70deg) rotateZ(25deg) translateZ(-15vmin);
  transform: rotateX(70deg) rotateZ(25deg) translateZ(-15vmin);
}

.level {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.level::after {
  xfont-size: 2.5vh;
  line-height: 0;
  position: absolute;
  z-index: 100;
  top: -2em;
  left: 3.5em;
  white-space: nowrap;
  color: #7d7d86;
  x-webkit-transform: rotateZ(-25deg) rotateX(-70deg) translateZ(0);
  xtransform: rotateZ(-25deg) rotateX(-70deg) translateZ(0);
  -webkit-transition: -webkit-transform 1s, color 0.3s;
  transition: transform 1s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.level:hover::after,
.level--current::after {
  color: #515158;
}

.level--current::after {
  -webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vw) translateX(5vw) translateY(-10vw);
  transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg) translateZ(5vw) translateX(5vw) translateY(-10vw);
}

.level--1::after {
  content: 'L1';
}

.level--2::after {
  content: 'L2';
}

.level--3::after {
  content: 'L3';
}

.level--4::after {
  content: 'L4';
}

.level:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.level--2 {
  -webkit-transform: translateZ(10vh);
  transform: translateZ(10vh);
}

.level--3 {
  -webkit-transform: translateZ(20vw);
  transform: translateZ(20vw);
}

.level--4 {
  -webkit-transform: translateZ(30vw);
  transform: translateZ(30vw);
}

/* Selection transitions */
.levels--selected-1 .level:not(.level--1),
.levels--selected-2 .level:not(.level--2),
.levels--selected-3 .level:not(.level--3),
.levels--selected-4 .level:not(.level--4) {
  opacity: 0;
  /* fade out all others */
}

/* Other levels */
.level--current ~ .level {
  -webkit-transform: translateZ(90vh);
  transform: translateZ(90vh);
}

.levels--selected-2 .level--1,
.levels--selected-3 .level--1,
.levels--selected-4 .level--1,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2,
.levels--selected-4 .level--3 {
  -webkit-transform: translateZ(-60vh);
  transform: translateZ(-60vh);
}

/* Delays */
/* 1 */
.levels--selected-1 .level--3,
.levels--selected-2 .level--3,
.levels--selected-3 .level--2,
.levels--selected-4 .level--2 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.levels--selected-1 .level--2,
.levels--selected-2 .level--current,
.levels--selected-2 .level--current::after,
.levels--selected-3 .level--current,
.levels--selected-3 .level--current::after,
.levels--selected-4 .level--3 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.levels--selected-1 .level--current,
.levels--selected-1 .level--current::after,
.levels--selected-4 .level--current,
.levels--selected-4 .level--current::after {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

/* Current level */
.level.level--current {
  -webkit-transform: translateZ(15vh) rotate3d(0, 0, 1, -20deg);
  /* go to center */
  transform: translateZ(15vh) rotate3d(0, 0, 1, -20deg);
}

/* Navigation classes */
.levels--open .level,
.levels--open .level::after {
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.levels--open .level.level--current {
  opacity: 1;
}

.levels--open .level.level--moveOutUp,
.levels--open .level.level--moveOutDown {
  opacity: 0;
}

.levels--open .level.level--moveOutUp {
  -webkit-transform: translateZ(90vmin);
  transform: translateZ(90vmin);
}

.levels--open .level.level--moveOutDown {
  -webkit-transform: translateZ(-60vmin);
  transform: translateZ(-60vmin);
}
