@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: #f0f0f1; }

#canvas {
  background: #fff;
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 320px;
  max-height: 568px; }

.right {
  float: right; }

.fill-0 {
  background-color: black; }

.fill-1 {
  background-color: #030303; }

.fill-2 {
  background-color: #050505; }

.fill-3 {
  background-color: #080808; }

.fill-4 {
  background-color: #0a0a0a; }

.fill-5 {
  background-color: #0d0d0d; }

.fill-6 {
  background-color: #0f0f0f; }

.fill-7 {
  background-color: #121212; }

.fill-8 {
  background-color: #141414; }

.fill-9 {
  background-color: #171717; }

.fill-10 {
  background-color: #1a1a1a; }

.fill-11 {
  background-color: #1c1c1c; }

.fill-12 {
  background-color: #1f1f1f; }

.fill-13 {
  background-color: #212121; }

.fill-14 {
  background-color: #242424; }

.fill-15 {
  background-color: #262626; }

.fill-16 {
  background-color: #292929; }

.fill-17 {
  background-color: #2b2b2b; }

.fill-18 {
  background-color: #2e2e2e; }

.fill-19 {
  background-color: #303030; }

.fill-20 {
  background-color: #333333; }

.fill-21 {
  background-color: #363636; }

.fill-22 {
  background-color: #383838; }

.fill-23 {
  background-color: #3b3b3b; }

.fill-24 {
  background-color: #3d3d3d; }

.fill-25 {
  background-color: #404040; }

.fill-26 {
  background-color: #424242; }

.fill-27 {
  background-color: #454545; }

.fill-28 {
  background-color: #474747; }

.fill-29 {
  background-color: #4a4a4a; }

.fill-30 {
  background-color: #4d4d4d; }

.fill-31 {
  background-color: #4f4f4f; }

.fill-32 {
  background-color: #525252; }

.fill-33 {
  background-color: #545454; }

.fill-34 {
  background-color: #575757; }

.fill-35 {
  background-color: #595959; }

.fill-36 {
  background-color: #5c5c5c; }

.fill-37 {
  background-color: #5e5e5e; }

.fill-38 {
  background-color: #616161; }

.fill-39 {
  background-color: #636363; }

.fill-40 {
  background-color: #666666; }

.fill-41 {
  background-color: dimgray; }

.fill-42 {
  background-color: #6b6b6b; }

.fill-43 {
  background-color: #6e6e6e; }

.fill-44 {
  background-color: #707070; }

.fill-45 {
  background-color: #737373; }

.fill-46 {
  background-color: #757575; }

.fill-47 {
  background-color: #787878; }

.fill-48 {
  background-color: #7a7a7a; }

.fill-49 {
  background-color: #7d7d7d; }

.fill-50 {
  background-color: gray; }

.fill-51 {
  background-color: #828282; }

.fill-52 {
  background-color: #858585; }

.fill-53 {
  background-color: #878787; }

.fill-54 {
  background-color: #8a8a8a; }

.fill-55 {
  background-color: #8c8c8c; }

.fill-56 {
  background-color: #8f8f8f; }

.fill-57 {
  background-color: #919191; }

.fill-58 {
  background-color: #949494; }

.fill-59 {
  background-color: #969696; }

.fill-60 {
  background-color: #999999; }

.fill-61 {
  background-color: #9c9c9c; }

.fill-62 {
  background-color: #9e9e9e; }

.fill-63 {
  background-color: #a1a1a1; }

.fill-64 {
  background-color: #a3a3a3; }

.fill-65 {
  background-color: #a6a6a6; }

.fill-66 {
  background-color: #a8a8a8; }

.fill-67 {
  background-color: #ababab; }

.fill-68 {
  background-color: #adadad; }

.fill-69 {
  background-color: #b0b0b0; }

.fill-70 {
  background-color: #b3b3b3; }

.fill-71 {
  background-color: #b5b5b5; }

.fill-72 {
  background-color: #b8b8b8; }

.fill-73 {
  background-color: #bababa; }

.fill-74 {
  background-color: #bdbdbd; }

.fill-75 {
  background-color: #bfbfbf; }

.fill-76 {
  background-color: #c2c2c2; }

.fill-77 {
  background-color: #c4c4c4; }

.fill-78 {
  background-color: #c7c7c7; }

.fill-79 {
  background-color: #c9c9c9; }

.fill-80 {
  background-color: #cccccc; }

.fill-81 {
  background-color: #cfcfcf; }

.fill-82 {
  background-color: #d1d1d1; }

.fill-83 {
  background-color: #d4d4d4; }

.fill-84 {
  background-color: #d6d6d6; }

.fill-85 {
  background-color: #d9d9d9; }

.fill-86 {
  background-color: #dbdbdb; }

.fill-87 {
  background-color: #dedede; }

.fill-88 {
  background-color: #e0e0e0; }

.fill-89 {
  background-color: #e3e3e3; }

.fill-90 {
  background-color: #e6e6e6; }

.fill-91 {
  background-color: #e8e8e8; }

.fill-92 {
  background-color: #ebebeb; }

.fill-93 {
  background-color: #ededed; }

.fill-94 {
  background-color: #f0f0f0; }

.fill-95 {
  background-color: #f2f2f2; }

.fill-96 {
  background-color: whitesmoke; }

.fill-97 {
  background-color: #f7f7f7; }

.fill-98 {
  background-color: #fafafa; }

.fill-99 {
  background-color: #fcfcfc; }

.fill-100 {
  background-color: white; }

.text-0 {
  color: black; }

.text-1 {
  color: #030303; }

.text-2 {
  color: #050505; }

.text-3 {
  color: #080808; }

.text-4 {
  color: #0a0a0a; }

.text-5 {
  color: #0d0d0d; }

.text-6 {
  color: #0f0f0f; }

.text-7 {
  color: #121212; }

.text-8 {
  color: #141414; }

.text-9 {
  color: #171717; }

.text-10 {
  color: #1a1a1a; }

.text-11 {
  color: #1c1c1c; }

.text-12 {
  color: #1f1f1f; }

.text-13 {
  color: #212121; }

.text-14 {
  color: #242424; }

.text-15 {
  color: #262626; }

.text-16 {
  color: #292929; }

.text-17 {
  color: #2b2b2b; }

.text-18 {
  color: #2e2e2e; }

.text-19 {
  color: #303030; }

.text-20 {
  color: #333333; }

.text-21 {
  color: #363636; }

.text-22 {
  color: #383838; }

.text-23 {
  color: #3b3b3b; }

.text-24 {
  color: #3d3d3d; }

.text-25 {
  color: #404040; }

.text-26 {
  color: #424242; }

.text-27 {
  color: #454545; }

.text-28 {
  color: #474747; }

.text-29 {
  color: #4a4a4a; }

.text-30 {
  color: #4d4d4d; }

.text-31 {
  color: #4f4f4f; }

.text-32 {
  color: #525252; }

.text-33 {
  color: #545454; }

.text-34 {
  color: #575757; }

.text-35 {
  color: #595959; }

.text-36 {
  color: #5c5c5c; }

.text-37 {
  color: #5e5e5e; }

.text-38 {
  color: #616161; }

.text-39 {
  color: #636363; }

.text-40 {
  color: #666666; }

.text-41 {
  color: dimgray; }

.text-42 {
  color: #6b6b6b; }

.text-43 {
  color: #6e6e6e; }

.text-44 {
  color: #707070; }

.text-45 {
  color: #737373; }

.text-46 {
  color: #757575; }

.text-47 {
  color: #787878; }

.text-48 {
  color: #7a7a7a; }

.text-49 {
  color: #7d7d7d; }

.text-50 {
  color: gray; }

.text-51 {
  color: #828282; }

.text-52 {
  color: #858585; }

.text-53 {
  color: #878787; }

.text-54 {
  color: #8a8a8a; }

.text-55 {
  color: #8c8c8c; }

.text-56 {
  color: #8f8f8f; }

.text-57 {
  color: #919191; }

.text-58 {
  color: #949494; }

.text-59 {
  color: #969696; }

.text-60 {
  color: #999999; }

.text-61 {
  color: #9c9c9c; }

.text-62 {
  color: #9e9e9e; }

.text-63 {
  color: #a1a1a1; }

.text-64 {
  color: #a3a3a3; }

.text-65 {
  color: #a6a6a6; }

.text-66 {
  color: #a8a8a8; }

.text-67 {
  color: #ababab; }

.text-68 {
  color: #adadad; }

.text-69 {
  color: #b0b0b0; }

.text-70 {
  color: #b3b3b3; }

.text-71 {
  color: #b5b5b5; }

.text-72 {
  color: #b8b8b8; }

.text-73 {
  color: #bababa; }

.text-74 {
  color: #bdbdbd; }

.text-75 {
  color: #bfbfbf; }

.text-76 {
  color: #c2c2c2; }

.text-77 {
  color: #c4c4c4; }

.text-78 {
  color: #c7c7c7; }

.text-79 {
  color: #c9c9c9; }

.text-80 {
  color: #cccccc; }

.text-81 {
  color: #cfcfcf; }

.text-82 {
  color: #d1d1d1; }

.text-83 {
  color: #d4d4d4; }

.text-84 {
  color: #d6d6d6; }

.text-85 {
  color: #d9d9d9; }

.text-86 {
  color: #dbdbdb; }

.text-87 {
  color: #dedede; }

.text-88 {
  color: #e0e0e0; }

.text-89 {
  color: #e3e3e3; }

.text-90 {
  color: #e6e6e6; }

.text-91 {
  color: #e8e8e8; }

.text-92 {
  color: #ebebeb; }

.text-93 {
  color: #ededed; }

.text-94 {
  color: #f0f0f0; }

.text-95 {
  color: #f2f2f2; }

.text-96 {
  color: whitesmoke; }

.text-97 {
  color: #f7f7f7; }

.text-98 {
  color: #fafafa; }

.text-99 {
  color: #fcfcfc; }

.text-100 {
  color: white; }

.height-0 {
  height: 0%; }

.width-0 {
  width: 0%; }

.height-1 {
  height: 1%; }

.width-1 {
  width: 1%; }

.height-2 {
  height: 2%; }

.width-2 {
  width: 2%; }

.height-3 {
  height: 3%; }

.width-3 {
  width: 3%; }

.height-4 {
  height: 4%; }

.width-4 {
  width: 4%; }

.height-5 {
  height: 5%; }

.width-5 {
  width: 5%; }

.height-6 {
  height: 6%; }

.width-6 {
  width: 6%; }

.height-7 {
  height: 7%; }

.width-7 {
  width: 7%; }

.height-8 {
  height: 8%; }

.width-8 {
  width: 8%; }

.height-9 {
  height: 9%; }

.width-9 {
  width: 9%; }

.height-10 {
  height: 10%; }

.width-10 {
  width: 10%; }

.height-11 {
  height: 11%; }

.width-11 {
  width: 11%; }

.height-12 {
  height: 12%; }

.width-12 {
  width: 12%; }

.height-13 {
  height: 13%; }

.width-13 {
  width: 13%; }

.height-14 {
  height: 14%; }

.width-14 {
  width: 14%; }

.height-15 {
  height: 15%; }

.width-15 {
  width: 15%; }

.height-16 {
  height: 16%; }

.width-16 {
  width: 16%; }

.height-17 {
  height: 17%; }

.width-17 {
  width: 17%; }

.height-18 {
  height: 18%; }

.width-18 {
  width: 18%; }

.height-19 {
  height: 19%; }

.width-19 {
  width: 19%; }

.height-20 {
  height: 20%; }

.width-20 {
  width: 20%; }

.height-21 {
  height: 21%; }

.width-21 {
  width: 21%; }

.height-22 {
  height: 22%; }

.width-22 {
  width: 22%; }

.height-23 {
  height: 23%; }

.width-23 {
  width: 23%; }

.height-24 {
  height: 24%; }

.width-24 {
  width: 24%; }

.height-25 {
  height: 25%; }

.width-25 {
  width: 25%; }

.height-26 {
  height: 26%; }

.width-26 {
  width: 26%; }

.height-27 {
  height: 27%; }

.width-27 {
  width: 27%; }

.height-28 {
  height: 28%; }

.width-28 {
  width: 28%; }

.height-29 {
  height: 29%; }

.width-29 {
  width: 29%; }

.height-30 {
  height: 30%; }

.width-30 {
  width: 30%; }

.height-31 {
  height: 31%; }

.width-31 {
  width: 31%; }

.height-32 {
  height: 32%; }

.width-32 {
  width: 32%; }

.height-33 {
  height: 33%; }

.width-33 {
  width: 33%; }

.height-34 {
  height: 34%; }

.width-34 {
  width: 34%; }

.height-35 {
  height: 35%; }

.width-35 {
  width: 35%; }

.height-36 {
  height: 36%; }

.width-36 {
  width: 36%; }

.height-37 {
  height: 37%; }

.width-37 {
  width: 37%; }

.height-38 {
  height: 38%; }

.width-38 {
  width: 38%; }

.height-39 {
  height: 39%; }

.width-39 {
  width: 39%; }

.height-40 {
  height: 40%; }

.width-40 {
  width: 40%; }

.height-41 {
  height: 41%; }

.width-41 {
  width: 41%; }

.height-42 {
  height: 42%; }

.width-42 {
  width: 42%; }

.height-43 {
  height: 43%; }

.width-43 {
  width: 43%; }

.height-44 {
  height: 44%; }

.width-44 {
  width: 44%; }

.height-45 {
  height: 45%; }

.width-45 {
  width: 45%; }

.height-46 {
  height: 46%; }

.width-46 {
  width: 46%; }

.height-47 {
  height: 47%; }

.width-47 {
  width: 47%; }

.height-48 {
  height: 48%; }

.width-48 {
  width: 48%; }

.height-49 {
  height: 49%; }

.width-49 {
  width: 49%; }

.height-50 {
  height: 50%; }

.width-50 {
  width: 50%; }

.height-51 {
  height: 51%; }

.width-51 {
  width: 51%; }

.height-52 {
  height: 52%; }

.width-52 {
  width: 52%; }

.height-53 {
  height: 53%; }

.width-53 {
  width: 53%; }

.height-54 {
  height: 54%; }

.width-54 {
  width: 54%; }

.height-55 {
  height: 55%; }

.width-55 {
  width: 55%; }

.height-56 {
  height: 56%; }

.width-56 {
  width: 56%; }

.height-57 {
  height: 57%; }

.width-57 {
  width: 57%; }

.height-58 {
  height: 58%; }

.width-58 {
  width: 58%; }

.height-59 {
  height: 59%; }

.width-59 {
  width: 59%; }

.height-60 {
  height: 60%; }

.width-60 {
  width: 60%; }

.height-61 {
  height: 61%; }

.width-61 {
  width: 61%; }

.height-62 {
  height: 62%; }

.width-62 {
  width: 62%; }

.height-63 {
  height: 63%; }

.width-63 {
  width: 63%; }

.height-64 {
  height: 64%; }

.width-64 {
  width: 64%; }

.height-65 {
  height: 65%; }

.width-65 {
  width: 65%; }

.height-66 {
  height: 66%; }

.width-66 {
  width: 66%; }

.height-67 {
  height: 67%; }

.width-67 {
  width: 67%; }

.height-68 {
  height: 68%; }

.width-68 {
  width: 68%; }

.height-69 {
  height: 69%; }

.width-69 {
  width: 69%; }

.height-70 {
  height: 70%; }

.width-70 {
  width: 70%; }

.height-71 {
  height: 71%; }

.width-71 {
  width: 71%; }

.height-72 {
  height: 72%; }

.width-72 {
  width: 72%; }

.height-73 {
  height: 73%; }

.width-73 {
  width: 73%; }

.height-74 {
  height: 74%; }

.width-74 {
  width: 74%; }

.height-75 {
  height: 75%; }

.width-75 {
  width: 75%; }

.height-76 {
  height: 76%; }

.width-76 {
  width: 76%; }

.height-77 {
  height: 77%; }

.width-77 {
  width: 77%; }

.height-78 {
  height: 78%; }

.width-78 {
  width: 78%; }

.height-79 {
  height: 79%; }

.width-79 {
  width: 79%; }

.height-80 {
  height: 80%; }

.width-80 {
  width: 80%; }

.height-81 {
  height: 81%; }

.width-81 {
  width: 81%; }

.height-82 {
  height: 82%; }

.width-82 {
  width: 82%; }

.height-83 {
  height: 83%; }

.width-83 {
  width: 83%; }

.height-84 {
  height: 84%; }

.width-84 {
  width: 84%; }

.height-85 {
  height: 85%; }

.width-85 {
  width: 85%; }

.height-86 {
  height: 86%; }

.width-86 {
  width: 86%; }

.height-87 {
  height: 87%; }

.width-87 {
  width: 87%; }

.height-88 {
  height: 88%; }

.width-88 {
  width: 88%; }

.height-89 {
  height: 89%; }

.width-89 {
  width: 89%; }

.height-90 {
  height: 90%; }

.width-90 {
  width: 90%; }

.height-91 {
  height: 91%; }

.width-91 {
  width: 91%; }

.height-92 {
  height: 92%; }

.width-92 {
  width: 92%; }

.height-93 {
  height: 93%; }

.width-93 {
  width: 93%; }

.height-94 {
  height: 94%; }

.width-94 {
  width: 94%; }

.height-95 {
  height: 95%; }

.width-95 {
  width: 95%; }

.height-96 {
  height: 96%; }

.width-96 {
  width: 96%; }

.height-97 {
  height: 97%; }

.width-97 {
  width: 97%; }

.height-98 {
  height: 98%; }

.width-98 {
  width: 98%; }

.height-99 {
  height: 99%; }

.width-99 {
  width: 99%; }

.height-100 {
  height: 100%; }

.width-100 {
  width: 100%; }

.padding-r0 {
  padding-right: 0em; }

.padding-l0 {
  padding-left: 0em; }

.padding-t0 {
  padding-top: 0em; }

.padding-b0 {
  padding-bottom: 0em; }

.padding-r1 {
  padding-right: 0.5em; }

.padding-l1 {
  padding-left: 0.5em; }

.padding-t1 {
  padding-top: 0.5em; }

.padding-b1 {
  padding-bottom: 0.5em; }

.padding-r2 {
  padding-right: 1em; }

.padding-l2 {
  padding-left: 1em; }

.padding-t2 {
  padding-top: 1em; }

.padding-b2 {
  padding-bottom: 1em; }

.padding-r3 {
  padding-right: 1.5em; }

.padding-l3 {
  padding-left: 1.5em; }

.padding-t3 {
  padding-top: 1.5em; }

.padding-b3 {
  padding-bottom: 1.5em; }

.padding-r4 {
  padding-right: 2em; }

.padding-l4 {
  padding-left: 2em; }

.padding-t4 {
  padding-top: 2em; }

.padding-b4 {
  padding-bottom: 2em; }

.padding-r5 {
  padding-right: 2.5em; }

.padding-l5 {
  padding-left: 2.5em; }

.padding-t5 {
  padding-top: 2.5em; }

.padding-b5 {
  padding-bottom: 2.5em; }

.padding-r6 {
  padding-right: 3em; }

.padding-l6 {
  padding-left: 3em; }

.padding-t6 {
  padding-top: 3em; }

.padding-b6 {
  padding-bottom: 3em; }

.padding-r7 {
  padding-right: 3.5em; }

.padding-l7 {
  padding-left: 3.5em; }

.padding-t7 {
  padding-top: 3.5em; }

.padding-b7 {
  padding-bottom: 3.5em; }

.padding-r8 {
  padding-right: 4em; }

.padding-l8 {
  padding-left: 4em; }

.padding-t8 {
  padding-top: 4em; }

.padding-b8 {
  padding-bottom: 4em; }

.padding-r9 {
  padding-right: 4.5em; }

.padding-l9 {
  padding-left: 4.5em; }

.padding-t9 {
  padding-top: 4.5em; }

.padding-b9 {
  padding-bottom: 4.5em; }

.padding-r10 {
  padding-right: 5em; }

.padding-l10 {
  padding-left: 5em; }

.padding-t10 {
  padding-top: 5em; }

.padding-b10 {
  padding-bottom: 5em; }

.padding-r11 {
  padding-right: 5.5em; }

.padding-l11 {
  padding-left: 5.5em; }

.padding-t11 {
  padding-top: 5.5em; }

.padding-b11 {
  padding-bottom: 5.5em; }

.padding-r12 {
  padding-right: 6em; }

.padding-l12 {
  padding-left: 6em; }

.padding-t12 {
  padding-top: 6em; }

.padding-b12 {
  padding-bottom: 6em; }

.padding-r13 {
  padding-right: 6.5em; }

.padding-l13 {
  padding-left: 6.5em; }

.padding-t13 {
  padding-top: 6.5em; }

.padding-b13 {
  padding-bottom: 6.5em; }

.padding-r14 {
  padding-right: 7em; }

.padding-l14 {
  padding-left: 7em; }

.padding-t14 {
  padding-top: 7em; }

.padding-b14 {
  padding-bottom: 7em; }

.padding-r15 {
  padding-right: 7.5em; }

.padding-l15 {
  padding-left: 7.5em; }

.padding-t15 {
  padding-top: 7.5em; }

.padding-b15 {
  padding-bottom: 7.5em; }

.padding-r16 {
  padding-right: 8em; }

.padding-l16 {
  padding-left: 8em; }

.padding-t16 {
  padding-top: 8em; }

.padding-b16 {
  padding-bottom: 8em; }

.padding-r17 {
  padding-right: 8.5em; }

.padding-l17 {
  padding-left: 8.5em; }

.padding-t17 {
  padding-top: 8.5em; }

.padding-b17 {
  padding-bottom: 8.5em; }

.padding-r18 {
  padding-right: 9em; }

.padding-l18 {
  padding-left: 9em; }

.padding-t18 {
  padding-top: 9em; }

.padding-b18 {
  padding-bottom: 9em; }

.padding-r19 {
  padding-right: 9.5em; }

.padding-l19 {
  padding-left: 9.5em; }

.padding-t19 {
  padding-top: 9.5em; }

.padding-b19 {
  padding-bottom: 9.5em; }

.padding-r20 {
  padding-right: 10em; }

.padding-l20 {
  padding-left: 10em; }

.padding-t20 {
  padding-top: 10em; }

.padding-b20 {
  padding-bottom: 10em; }

.padding-r21 {
  padding-right: 10.5em; }

.padding-l21 {
  padding-left: 10.5em; }

.padding-t21 {
  padding-top: 10.5em; }

.padding-b21 {
  padding-bottom: 10.5em; }

.padding-r22 {
  padding-right: 11em; }

.padding-l22 {
  padding-left: 11em; }

.padding-t22 {
  padding-top: 11em; }

.padding-b22 {
  padding-bottom: 11em; }

.padding-r23 {
  padding-right: 11.5em; }

.padding-l23 {
  padding-left: 11.5em; }

.padding-t23 {
  padding-top: 11.5em; }

.padding-b23 {
  padding-bottom: 11.5em; }

.padding-r24 {
  padding-right: 12em; }

.padding-l24 {
  padding-left: 12em; }

.padding-t24 {
  padding-top: 12em; }

.padding-b24 {
  padding-bottom: 12em; }

.padding-r25 {
  padding-right: 12.5em; }

.padding-l25 {
  padding-left: 12.5em; }

.padding-t25 {
  padding-top: 12.5em; }

.padding-b25 {
  padding-bottom: 12.5em; }

.padding-r26 {
  padding-right: 13em; }

.padding-l26 {
  padding-left: 13em; }

.padding-t26 {
  padding-top: 13em; }

.padding-b26 {
  padding-bottom: 13em; }

.padding-r27 {
  padding-right: 13.5em; }

.padding-l27 {
  padding-left: 13.5em; }

.padding-t27 {
  padding-top: 13.5em; }

.padding-b27 {
  padding-bottom: 13.5em; }

.padding-r28 {
  padding-right: 14em; }

.padding-l28 {
  padding-left: 14em; }

.padding-t28 {
  padding-top: 14em; }

.padding-b28 {
  padding-bottom: 14em; }

.padding-r29 {
  padding-right: 14.5em; }

.padding-l29 {
  padding-left: 14.5em; }

.padding-t29 {
  padding-top: 14.5em; }

.padding-b29 {
  padding-bottom: 14.5em; }

.padding-r30 {
  padding-right: 15em; }

.padding-l30 {
  padding-left: 15em; }

.padding-t30 {
  padding-top: 15em; }

.padding-b30 {
  padding-bottom: 15em; }

.padding-r31 {
  padding-right: 15.5em; }

.padding-l31 {
  padding-left: 15.5em; }

.padding-t31 {
  padding-top: 15.5em; }

.padding-b31 {
  padding-bottom: 15.5em; }

.padding-r32 {
  padding-right: 16em; }

.padding-l32 {
  padding-left: 16em; }

.padding-t32 {
  padding-top: 16em; }

.padding-b32 {
  padding-bottom: 16em; }

.padding-r33 {
  padding-right: 16.5em; }

.padding-l33 {
  padding-left: 16.5em; }

.padding-t33 {
  padding-top: 16.5em; }

.padding-b33 {
  padding-bottom: 16.5em; }

.padding-r34 {
  padding-right: 17em; }

.padding-l34 {
  padding-left: 17em; }

.padding-t34 {
  padding-top: 17em; }

.padding-b34 {
  padding-bottom: 17em; }

.padding-r35 {
  padding-right: 17.5em; }

.padding-l35 {
  padding-left: 17.5em; }

.padding-t35 {
  padding-top: 17.5em; }

.padding-b35 {
  padding-bottom: 17.5em; }

.padding-r36 {
  padding-right: 18em; }

.padding-l36 {
  padding-left: 18em; }

.padding-t36 {
  padding-top: 18em; }

.padding-b36 {
  padding-bottom: 18em; }

.padding-r37 {
  padding-right: 18.5em; }

.padding-l37 {
  padding-left: 18.5em; }

.padding-t37 {
  padding-top: 18.5em; }

.padding-b37 {
  padding-bottom: 18.5em; }

.padding-r38 {
  padding-right: 19em; }

.padding-l38 {
  padding-left: 19em; }

.padding-t38 {
  padding-top: 19em; }

.padding-b38 {
  padding-bottom: 19em; }

.padding-r39 {
  padding-right: 19.5em; }

.padding-l39 {
  padding-left: 19.5em; }

.padding-t39 {
  padding-top: 19.5em; }

.padding-b39 {
  padding-bottom: 19.5em; }

.padding-r40 {
  padding-right: 20em; }

.padding-l40 {
  padding-left: 20em; }

.padding-t40 {
  padding-top: 20em; }

.padding-b40 {
  padding-bottom: 20em; }

.padding-r41 {
  padding-right: 20.5em; }

.padding-l41 {
  padding-left: 20.5em; }

.padding-t41 {
  padding-top: 20.5em; }

.padding-b41 {
  padding-bottom: 20.5em; }

.padding-r42 {
  padding-right: 21em; }

.padding-l42 {
  padding-left: 21em; }

.padding-t42 {
  padding-top: 21em; }

.padding-b42 {
  padding-bottom: 21em; }

.padding-r43 {
  padding-right: 21.5em; }

.padding-l43 {
  padding-left: 21.5em; }

.padding-t43 {
  padding-top: 21.5em; }

.padding-b43 {
  padding-bottom: 21.5em; }

.padding-r44 {
  padding-right: 22em; }

.padding-l44 {
  padding-left: 22em; }

.padding-t44 {
  padding-top: 22em; }

.padding-b44 {
  padding-bottom: 22em; }

.padding-r45 {
  padding-right: 22.5em; }

.padding-l45 {
  padding-left: 22.5em; }

.padding-t45 {
  padding-top: 22.5em; }

.padding-b45 {
  padding-bottom: 22.5em; }

.padding-r46 {
  padding-right: 23em; }

.padding-l46 {
  padding-left: 23em; }

.padding-t46 {
  padding-top: 23em; }

.padding-b46 {
  padding-bottom: 23em; }

.padding-r47 {
  padding-right: 23.5em; }

.padding-l47 {
  padding-left: 23.5em; }

.padding-t47 {
  padding-top: 23.5em; }

.padding-b47 {
  padding-bottom: 23.5em; }

.padding-r48 {
  padding-right: 24em; }

.padding-l48 {
  padding-left: 24em; }

.padding-t48 {
  padding-top: 24em; }

.padding-b48 {
  padding-bottom: 24em; }

.padding-r49 {
  padding-right: 24.5em; }

.padding-l49 {
  padding-left: 24.5em; }

.padding-t49 {
  padding-top: 24.5em; }

.padding-b49 {
  padding-bottom: 24.5em; }

.padding-r50 {
  padding-right: 25em; }

.padding-l50 {
  padding-left: 25em; }

.padding-t50 {
  padding-top: 25em; }

.padding-b50 {
  padding-bottom: 25em; }

.padding-r51 {
  padding-right: 25.5em; }

.padding-l51 {
  padding-left: 25.5em; }

.padding-t51 {
  padding-top: 25.5em; }

.padding-b51 {
  padding-bottom: 25.5em; }

.padding-r52 {
  padding-right: 26em; }

.padding-l52 {
  padding-left: 26em; }

.padding-t52 {
  padding-top: 26em; }

.padding-b52 {
  padding-bottom: 26em; }

.padding-r53 {
  padding-right: 26.5em; }

.padding-l53 {
  padding-left: 26.5em; }

.padding-t53 {
  padding-top: 26.5em; }

.padding-b53 {
  padding-bottom: 26.5em; }

.padding-r54 {
  padding-right: 27em; }

.padding-l54 {
  padding-left: 27em; }

.padding-t54 {
  padding-top: 27em; }

.padding-b54 {
  padding-bottom: 27em; }

.padding-r55 {
  padding-right: 27.5em; }

.padding-l55 {
  padding-left: 27.5em; }

.padding-t55 {
  padding-top: 27.5em; }

.padding-b55 {
  padding-bottom: 27.5em; }

.padding-r56 {
  padding-right: 28em; }

.padding-l56 {
  padding-left: 28em; }

.padding-t56 {
  padding-top: 28em; }

.padding-b56 {
  padding-bottom: 28em; }

.padding-r57 {
  padding-right: 28.5em; }

.padding-l57 {
  padding-left: 28.5em; }

.padding-t57 {
  padding-top: 28.5em; }

.padding-b57 {
  padding-bottom: 28.5em; }

.padding-r58 {
  padding-right: 29em; }

.padding-l58 {
  padding-left: 29em; }

.padding-t58 {
  padding-top: 29em; }

.padding-b58 {
  padding-bottom: 29em; }

.padding-r59 {
  padding-right: 29.5em; }

.padding-l59 {
  padding-left: 29.5em; }

.padding-t59 {
  padding-top: 29.5em; }

.padding-b59 {
  padding-bottom: 29.5em; }

.padding-r60 {
  padding-right: 30em; }

.padding-l60 {
  padding-left: 30em; }

.padding-t60 {
  padding-top: 30em; }

.padding-b60 {
  padding-bottom: 30em; }

.padding-r61 {
  padding-right: 30.5em; }

.padding-l61 {
  padding-left: 30.5em; }

.padding-t61 {
  padding-top: 30.5em; }

.padding-b61 {
  padding-bottom: 30.5em; }

.padding-r62 {
  padding-right: 31em; }

.padding-l62 {
  padding-left: 31em; }

.padding-t62 {
  padding-top: 31em; }

.padding-b62 {
  padding-bottom: 31em; }

.padding-r63 {
  padding-right: 31.5em; }

.padding-l63 {
  padding-left: 31.5em; }

.padding-t63 {
  padding-top: 31.5em; }

.padding-b63 {
  padding-bottom: 31.5em; }

.padding-r64 {
  padding-right: 32em; }

.padding-l64 {
  padding-left: 32em; }

.padding-t64 {
  padding-top: 32em; }

.padding-b64 {
  padding-bottom: 32em; }

.padding-r65 {
  padding-right: 32.5em; }

.padding-l65 {
  padding-left: 32.5em; }

.padding-t65 {
  padding-top: 32.5em; }

.padding-b65 {
  padding-bottom: 32.5em; }

.padding-r66 {
  padding-right: 33em; }

.padding-l66 {
  padding-left: 33em; }

.padding-t66 {
  padding-top: 33em; }

.padding-b66 {
  padding-bottom: 33em; }

.padding-r67 {
  padding-right: 33.5em; }

.padding-l67 {
  padding-left: 33.5em; }

.padding-t67 {
  padding-top: 33.5em; }

.padding-b67 {
  padding-bottom: 33.5em; }

.padding-r68 {
  padding-right: 34em; }

.padding-l68 {
  padding-left: 34em; }

.padding-t68 {
  padding-top: 34em; }

.padding-b68 {
  padding-bottom: 34em; }

.padding-r69 {
  padding-right: 34.5em; }

.padding-l69 {
  padding-left: 34.5em; }

.padding-t69 {
  padding-top: 34.5em; }

.padding-b69 {
  padding-bottom: 34.5em; }

.padding-r70 {
  padding-right: 35em; }

.padding-l70 {
  padding-left: 35em; }

.padding-t70 {
  padding-top: 35em; }

.padding-b70 {
  padding-bottom: 35em; }

.padding-r71 {
  padding-right: 35.5em; }

.padding-l71 {
  padding-left: 35.5em; }

.padding-t71 {
  padding-top: 35.5em; }

.padding-b71 {
  padding-bottom: 35.5em; }

.padding-r72 {
  padding-right: 36em; }

.padding-l72 {
  padding-left: 36em; }

.padding-t72 {
  padding-top: 36em; }

.padding-b72 {
  padding-bottom: 36em; }

.padding-r73 {
  padding-right: 36.5em; }

.padding-l73 {
  padding-left: 36.5em; }

.padding-t73 {
  padding-top: 36.5em; }

.padding-b73 {
  padding-bottom: 36.5em; }

.padding-r74 {
  padding-right: 37em; }

.padding-l74 {
  padding-left: 37em; }

.padding-t74 {
  padding-top: 37em; }

.padding-b74 {
  padding-bottom: 37em; }

.padding-r75 {
  padding-right: 37.5em; }

.padding-l75 {
  padding-left: 37.5em; }

.padding-t75 {
  padding-top: 37.5em; }

.padding-b75 {
  padding-bottom: 37.5em; }

.padding-r76 {
  padding-right: 38em; }

.padding-l76 {
  padding-left: 38em; }

.padding-t76 {
  padding-top: 38em; }

.padding-b76 {
  padding-bottom: 38em; }

.padding-r77 {
  padding-right: 38.5em; }

.padding-l77 {
  padding-left: 38.5em; }

.padding-t77 {
  padding-top: 38.5em; }

.padding-b77 {
  padding-bottom: 38.5em; }

.padding-r78 {
  padding-right: 39em; }

.padding-l78 {
  padding-left: 39em; }

.padding-t78 {
  padding-top: 39em; }

.padding-b78 {
  padding-bottom: 39em; }

.padding-r79 {
  padding-right: 39.5em; }

.padding-l79 {
  padding-left: 39.5em; }

.padding-t79 {
  padding-top: 39.5em; }

.padding-b79 {
  padding-bottom: 39.5em; }

.padding-r80 {
  padding-right: 40em; }

.padding-l80 {
  padding-left: 40em; }

.padding-t80 {
  padding-top: 40em; }

.padding-b80 {
  padding-bottom: 40em; }

.padding-r81 {
  padding-right: 40.5em; }

.padding-l81 {
  padding-left: 40.5em; }

.padding-t81 {
  padding-top: 40.5em; }

.padding-b81 {
  padding-bottom: 40.5em; }

.padding-r82 {
  padding-right: 41em; }

.padding-l82 {
  padding-left: 41em; }

.padding-t82 {
  padding-top: 41em; }

.padding-b82 {
  padding-bottom: 41em; }

.padding-r83 {
  padding-right: 41.5em; }

.padding-l83 {
  padding-left: 41.5em; }

.padding-t83 {
  padding-top: 41.5em; }

.padding-b83 {
  padding-bottom: 41.5em; }

.padding-r84 {
  padding-right: 42em; }

.padding-l84 {
  padding-left: 42em; }

.padding-t84 {
  padding-top: 42em; }

.padding-b84 {
  padding-bottom: 42em; }

.padding-r85 {
  padding-right: 42.5em; }

.padding-l85 {
  padding-left: 42.5em; }

.padding-t85 {
  padding-top: 42.5em; }

.padding-b85 {
  padding-bottom: 42.5em; }

.padding-r86 {
  padding-right: 43em; }

.padding-l86 {
  padding-left: 43em; }

.padding-t86 {
  padding-top: 43em; }

.padding-b86 {
  padding-bottom: 43em; }

.padding-r87 {
  padding-right: 43.5em; }

.padding-l87 {
  padding-left: 43.5em; }

.padding-t87 {
  padding-top: 43.5em; }

.padding-b87 {
  padding-bottom: 43.5em; }

.padding-r88 {
  padding-right: 44em; }

.padding-l88 {
  padding-left: 44em; }

.padding-t88 {
  padding-top: 44em; }

.padding-b88 {
  padding-bottom: 44em; }

.padding-r89 {
  padding-right: 44.5em; }

.padding-l89 {
  padding-left: 44.5em; }

.padding-t89 {
  padding-top: 44.5em; }

.padding-b89 {
  padding-bottom: 44.5em; }

.padding-r90 {
  padding-right: 45em; }

.padding-l90 {
  padding-left: 45em; }

.padding-t90 {
  padding-top: 45em; }

.padding-b90 {
  padding-bottom: 45em; }

.padding-r91 {
  padding-right: 45.5em; }

.padding-l91 {
  padding-left: 45.5em; }

.padding-t91 {
  padding-top: 45.5em; }

.padding-b91 {
  padding-bottom: 45.5em; }

.padding-r92 {
  padding-right: 46em; }

.padding-l92 {
  padding-left: 46em; }

.padding-t92 {
  padding-top: 46em; }

.padding-b92 {
  padding-bottom: 46em; }

.padding-r93 {
  padding-right: 46.5em; }

.padding-l93 {
  padding-left: 46.5em; }

.padding-t93 {
  padding-top: 46.5em; }

.padding-b93 {
  padding-bottom: 46.5em; }

.padding-r94 {
  padding-right: 47em; }

.padding-l94 {
  padding-left: 47em; }

.padding-t94 {
  padding-top: 47em; }

.padding-b94 {
  padding-bottom: 47em; }

.padding-r95 {
  padding-right: 47.5em; }

.padding-l95 {
  padding-left: 47.5em; }

.padding-t95 {
  padding-top: 47.5em; }

.padding-b95 {
  padding-bottom: 47.5em; }

.padding-r96 {
  padding-right: 48em; }

.padding-l96 {
  padding-left: 48em; }

.padding-t96 {
  padding-top: 48em; }

.padding-b96 {
  padding-bottom: 48em; }

.padding-r97 {
  padding-right: 48.5em; }

.padding-l97 {
  padding-left: 48.5em; }

.padding-t97 {
  padding-top: 48.5em; }

.padding-b97 {
  padding-bottom: 48.5em; }

.padding-r98 {
  padding-right: 49em; }

.padding-l98 {
  padding-left: 49em; }

.padding-t98 {
  padding-top: 49em; }

.padding-b98 {
  padding-bottom: 49em; }

.padding-r99 {
  padding-right: 49.5em; }

.padding-l99 {
  padding-left: 49.5em; }

.padding-t99 {
  padding-top: 49.5em; }

.padding-b99 {
  padding-bottom: 49.5em; }

.padding-r100 {
  padding-right: 50em; }

.padding-l100 {
  padding-left: 50em; }

.padding-t100 {
  padding-top: 50em; }

.padding-b100 {
  padding-bottom: 50em; }

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit; }

.cell {
  box-sizing: border-box;
  padding: 8px; }

